{% extends "base.html" %}

{% block content %}
<div class="ui main container">
    <h2 class="ui center aligned icon header">
        <i class="circular users icon"></i>
        Authenticator
        <div class="sub header">
            Inscrivez vous!
        </div>
    </h2>

    <div class="ui hidden divider"></div>

    <form class="ui form" method="POST">
        <div class="field">
            <label>Nom</label>
            <input class="input" type="text" name="name" placeholder="ex: Yoda" />
        </div>

        <div class="field">
            <label class="label">Email</label>
            <input class="input" type="email" name="email" placeholder="ex: yoda@dagobah.edu" />
        </div>

        <div class="field">
            <label class="label">Mot de passe</label>
            <input class="input" type="password" name="password" placeholder="********" />
            <input class="input" type="password" name="confirm_password" placeholder="********" />
        </div>

        <button class="ui primary button">
            S'inscrire
        </button>

        <a class="ui button" href="/">
            Annuler
        </a>
    </form>
</div>
{% endblock %}