{% extends "main_page.html" %}

{% block navbar %}
{{ navbar|escape("none") }}
{% endblock %}

{% block body %}
<div x-data="{ dashboard_menu_is_open: true }" class="max-w-full px-4 sm:px-6 lg:px-8">
    <div class="flex items-center gap-x-1 pb-6">
        <button @click="dashboard_menu_is_open = !dashboard_menu_is_open" type="button"
            class="rounded-md p-2.5 text-gray-700 md:invisible">
            <svg class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round"
                    :d="dashboard_menu_is_open ? 'M6 18L18 6M6 6l12 12' : 'M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5'" />
            </svg>
        </button>

        <h1 class="text-3xl font-bold tracking-tight text-gray-900">Tableau de bord</h1>
    </div>

    <main class="flex divide-x divide-gray-100">
        <div class="flex-none p-6" x-show="dashboard_menu_is_open">
            <h3 class="text-xl font-bold tracking-tight text-gray-900">Mes apps</h3>

            <div class="divide-y divide-gray-100">
                {% for app in own_apps %}
                <div hx-get="/app?id={{ app.id }}" hx-trigger="click" hx-target="#content"
                    class="flex items-center gap-x-3 py-3">
                    <img class="h-8 w-8 rounded-full bg-gray-100" src="{{ app.logo_url() }}">
                    <p class="text-sm font-semibold leading-6 text-gray-900">{{ app.name }}</p>
                </div>
                {% endfor %}
                <button hx-get="/app" hx-trigger="click" hx-target="#content"
                    class="block w-full rounded-md bg-indigo-600 p-1 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    Nouvelle
                </button>
            </div>
        </div>

        <div id="content" class="flex-auto p-6"></div>
    </main>
</div>
{% endblock %}