{% extends "base.html" %}

{% block content %}
{{ navbar|escape("none") }}

<div class="ui main container">
    <h2 class="ui center aligned header">
        Accueil
        <div class="sub header">
            Bienvenue!
        </div>
    </h2>

    <div class="two column doubling ui grid">
        <div class="column">
            <h4 class="ui dividing header">Les apps que j'utilise</h4>
        </div>

        <div class="column">
            <h4 class="ui dividing header">Les apps dont je suis le propriétaire</h4>
            <div class="ui container">
                {{ own_apps|escape("none") }}
            </div>
        </div>
    </div>
</div>
{% endblock %}