{% extends "base.html" %}

{% block content %}
<div class="ui main text container">
    <h1 class="ui header">
        Brouclean Softwares Authenticator
        <div class="sub header">
            Connectez vous et profitez de nos Apps!
        </div>
    </h1>
    <a class="ui button" href="signup">
        <i class="signup arrow icon"></i>
        S'inscrire
    </a>
    <a class="ui button" href="signin">
        <i class="sign-in arrow icon"></i>
        Se connecter
    </a>
</div>
{% endblock %}