<div class="ui text menu">
    <div class="ui container">
        <div class="item">
            <img src="assets/images/logo.png">
        </div>

        {% if let Some(claims) = claims %}
        <a class="header item" href="/home">Authenticator</a>

        <div class="ui right dropdown item">
            <div class="text">{{ claims.name }}</div>
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="/home">
                    <i class="home icon"></i>
                    Accueil
                </a>
                <a class="item" href="/profile">
                    <i class="address card icon"></i>
                    Mon profil
                </a>
                <a class="item" href="/signout">
                    <i class="sign-out icon"></i>
                    Se déconnecter
                </a>
            </div>
        </div>
        {% else %}
        <a class="header item" href="/">Authenticator</a>
        
        <div class="right menu">
            <a class="item" href="/home">
                <i class="sign-in icon"></i>
                Se connecter
            </a>
        </div>
        {% endif %}
    </div>
</div>
<script>
    $('.ui.dropdown').dropdown();
</script>