<header x-data="{ menu_is_open: false }" class="absolute inset-x-0 top-0 z-50">
    <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
            <div class="-m-1.5 p-1.5">
                {% include "general/logo.html" %}
            </div>
        </div>

        {% if let Some(claims) = claims %}
        <div class="flex">
            <button @click="menu_is_open = true" type="button" class="rounded-md p-2.5 text-gray-700">
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                    aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </button>
        </div>
        {% else %}
        <div class="flex flex-1 gap-x-12 justify-end">
            <a href="/signin" class="text-sm font-semibold leading-6 text-gray-900">
                Je me connecte
                <span aria-hidden="true">&rarr;</span>
            </a>
        </div>
        {% endif %}
    </nav>
    <div x-show="menu_is_open" role="dialog" aria-modal="true">
        <div class="fixed inset-0 z-50"></div>
        <div @click.outside="menu_is_open = false"
            class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
            <div class="flex justify-end">
                <button @click="menu_is_open = false" type="button" class="rounded-md p-2.5 text-gray-700">
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div class="mt-6 flow-root">
                <div class="-my-6 divide-y divide-gray-500/10">
                    {% if let Some(claims) = claims %}
                    <div class="space-y-2 py-6">
                        <a href="/owned_apps"
                            class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">
                            Mes apps
                        </a>
                        <a href="/profile"
                            class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">
                            Mon profile
                        </a>
                    </div>
                    <div class="py-6">
                        <a href="/signout"
                            class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">
                            Je me déconnecte
                        </a>
                    </div>
                    {% else %}
                    <div class="py-6">
                        <a href="/signin"
                            class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">
                            Je me connecte
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>