{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">
            Brouclean Softwares Authenticator
        </h1>
        <p class="subtitle">
            Connectez vous et profitez de nos Apps!
        </p>
        <p class="buttons">
            <a class="button is-link" href="signup">Inscrivez vous</a>
            <a class="button is-link" href="signin">Connectez vous</a>
        </p>
    </div>
</section>
{% endblock %}