<div class="ui attached borderless menu">
    <div class="ui container">
        <div class="item">
            <img src="assets/images/logo.png">
        </div>

        <a class="header item" href="/">Authenticator</a>

        <div class="ui right dropdown item">
            <div class="text">{{ claims.name }}</div>
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="/welcome">
                    <i class="home icon"></i>
                    Bienvenue
                </a>
                <a class="item" href="/signout">
                    <i class="sign-out icon"></i>
                    Se déconnecter
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    $('.ui.dropdown').dropdown();
</script>