{% extends "base.html" %}

{% block content %}
{{ navbar|escape("none") }}

{% if let Some(app) = app %}
<div class="ui main container">

    {% if app.name.len() > 0 %}
    <h2 class="ui center aligned header">
        {{ app.name }}
        <div class="sub header">
            Créée le {{ app.created_at }}
        </div>
    </h2>
    {% else %}
    <h2 class="ui center aligned header">
        Nouvelle App
        <div class="sub header">
            Créez votre app!
        </div>
    </h2>
    {% endif %}

    <div class="ui container">
        <form class="ui form" method="POST" action="/app">
            <input type="hidden" name="id" value="{{ app.id }}" />
            <div class="ui error message"></div>

            <h4 class="ui dividing header">Informations générales</h4>

            <div class="two column doubling ui grid">
                <div class="column">
                    <div class="field">
                        <label>Nom</label>
                        <input class="input" {{ Self::print_read_only(self) }} type="text" name="name"
                            value="{{ app.name }}" placeholder="ex: Firefox" />
                    </div>

                    <div class="field">
                        <label>Description</label>
                        <textarea rows="2" {{ Self::print_read_only(self) }} name="description"
                            placeholder="ex: Best browser ever...">{{ app.description }}</textarea>
                    </div>
                </div>
            </div>

            {% if !read_only %}
            <button class="ui primary button">
                Enregistrer
            </button>
            {% endif %}

            <input type="hidden" name="back_url" value="{{ back_url }}" />
            <a class="ui button" href="{{ back_url }}">
                <i class="left arrow icon"></i>
                Retour
            </a>
        </form>
    </div>
</div>

<script>
    $('.ui.form').form({
        fields: {
            name: {
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Veuillez rentrer le nom de l\'app'
                    }
                ]
            },
            description: {
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Veuillez rentrer une description succincte de l\'app'
                    }
                ]
            },
        }
    });
</script>

{% else %}
<div class="ui main container">
    <div class="ui negative message">
        <div class="header">
            Erreur inattendue
        </div>
        Veuillez réessayer plus tard
    </div>
</div>
{% endif %}
{% endblock %}