<div class="ui relaxed list">
    {% for app in apps %}
    <a class="item" href="/app?id={{ app.id }}">
        <div class="left floated middle aligned content">
            <img class="ui tiny avatar image" src="{{ app.logo_url() }}">
        </div>
        <div class="middle aligned content">
            <div class="header">{{ app.name }}</div>
            <div class="description">{{ app.description }}</div>
            <div class="description">
                <span>
                    <i class="user icon"></i>
                    75
                </span>
            </div>
        </div>
    </a>
    {% endfor %}

    {% if can_add %}
    <div class="item">
        <a class="ui button" href="app">
            <i class="plus icon"></i>
            Ajouter
        </a>
    </div>
    {% endif %}
</div>