{% extends "base.html" %}

{% block content %}
<div class="ui main container">
    <h2 class="ui center aligned icon header">
        <i class="circular users icon"></i>
        Authenticator
        <div class="sub header">
            Inscrivez vous!
        </div>
    </h2>

    <div class="ui hidden divider"></div>

    {% if error.len() > 0 -%}
    <div class="ui negative message">
        <i class="close icon"></i>
        <div class="header">
            Inscription impossible
        </div>
        {{ error }}
    </div>
    <script>
        $('.message .close').on('click', function () {
            $(this).closest('.message').transition('fade');
        });
    </script>
    {% endif -%}

    <form class="ui form" method="POST" action="/signup">
        <div class="ui error message"></div>

        <div class="field">
            <label>Nom</label>
            <div class="ui left icon input">
                <input class="input" type="text" name="name" value="{{ name }}" placeholder="ex: Yoda" />
                <i class="user icon"></i>
            </div>
        </div>

        <div class="field">
            <label class="label">Email</label>
            <div class="ui left icon input">
                <input class="input" type="email" name="email" value="{{ email }}" placeholder="ex: yoda@dagobah.edu" />
                <i class="envelope icon"></i>
            </div>
        </div>

        <div class="field">
            <label class="label">Mot de passe</label>
            <div class="ui left icon input">
                <input class="input" type="password" name="password" placeholder="********" />
                <i class="lock icon"></i>
            </div>
        </div>

        <div class="field">
            <label class="label">Confirmez le mot de passe</label>
            <div class="ui left icon input">
                <input class="input" type="password" name="confirm_password" placeholder="********" />
                <i class="redo icon"></i>
            </div>
        </div>

        <div class="ui center aligned basic segment">
            <button class="ui primary button">
                S'inscrire
            </button>
            <a class="ui button" href="/">
                Annuler
            </a>

            <div class="ui horizontal divider">
                Ou
            </div>

            <a class="ui big button" href="/signin">
                <i class="sign-in icon"></i>
                Se connecter
            </a>
        </div>
    </form>
</div>

<script>
    $('.ui.form').form({
        fields: {
            name: {
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Veuillez rentrer votre nom'
                    }
                ]
            },
            email: {
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Veuillez rentrer votre email'
                    },
                    {
                        type: 'regExp',
                        value: /^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/,
                        prompt: 'Veuillez rentrer une adresse mail valide'
                    }
                ]
            },
            password: {
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Veuillez rentrer votre mot de passe'
                    }
                ]
            },
            confirm_password: {
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Veuillez confirmer votre mot de passe'
                    },
                    {
                        type: 'match[password]',
                        prompt: 'La confirmation du mot de passe ne correspond pas'

                    }
                ]
            },
        }
    });
</script>
{% endblock %}