{% extends "main_page.html" %}

{% block body %}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        {% include "general/page_logo.html" %}
        <h2 class="mt-3 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
            Inscription
        </h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form class="space-y-6" action="/signup" method="POST">
            {{ message|escape("none") }}
            <input class="input" type="hidden" name="app_id" value="{{ app.id }}" />

            <div class="grid grid-cols-1 gap-x-6 gap-y-3 sm:grid-cols-2">
                <div class="sm:col-span-1">
                    <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Nom</label>
                    <div class="mt-2">
                        <input type="text" name="name" id="name" value="{{ name }}" placeholder="ex: Yoda" required
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>

                <div class="sm:col-span-1">
                    <label for="birthday" class="block text-sm font-medium leading-6 text-gray-900">Date de Naissance</label>
                    <div class="mt-2">
                        <input type="date" name="birthday" id="birthday" value="{{ birthday }}" required
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>

                <div class="sm:col-span-full">
                    <label for="mail" class="block text-sm font-medium leading-6 text-gray-900">Adresse mail</label>
                    <div class="mt-2">
                        <input type="email" id="mail" name="mail" value="{{ mail }}" placeholder="ex: yoda@dagobah.edu" required
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>

                <div class="sm:col-span-full">
                    <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Mot de passe</label>
                    <div class="mt-2">
                        <input type="password" id="password" name="password" placeholder="*****************" required
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>

                <div class="sm:col-span-full">
                    <label for="confirm_password" class="block text-sm font-medium leading-6 text-gray-900">Confirmation du mot de passe</label>
                    <div class="mt-2">
                        <input type="password" id="confirm_password" name="confirm_password" placeholder="*****************" required
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>
            </div>

            <div class="mt-6 flex items-center justify-center gap-x-6">
                <button type="submit"
                    class="flex justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    Je m'inscris
                </button>

                <a href="/signin" class="flex justify-center gap-x-3 text-sm font-semibold leading-6 text-gray-900">
                    Je vais plutôt me connecter
                    <span aria-hidden="true">&rarr;</span>
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}