{% extends "base.html" %}

{% block content %}
<div class="ui main container">
    <img class="ui centered tiny image" src="{{ app.logo_url }}">

    <h2 class="ui center aligned text header">
        {{ app.name }}
        <div class="sub header">
            {{ action }}
        </div>
    </h2>

    <div class="ui hidden divider"></div>

    <div class="ui {{ message.0 }} message">
        <div class="header">
            {{ message.1 }}
        </div>
        {{ message.2 }}
    </div>

</div>
{% endblock %}