{% extends "base.html" %}

{% block content %}
<div class="ui main container">
    <img class="ui centered tiny image" src="{{ app.logo_url }}">

    <h2 class="ui center aligned text header">
        {{ app.name }}
        <div class="sub header">
            Confirmation d'email
        </div>
    </h2>

    <div class="ui hidden divider"></div>

    {% if let Some(email) = email_confirmed -%}
    <div class="ui success message">
        <div class="header">
            Email confirmé
        </div>
        Vous avez bien confirmé le mail suivant : {{ email }}
    </div>
    {% else %}
    <div class="ui negative message">
        <div class="header">
            Confirmation impossible
        </div>
        Le code de confirmation est inconnu
    </div>
    {% endif -%}

</div>
{% endblock %}