{% extends "main_page.html" %}

{% block body %}
<div class="mx-auto max-w-md text-center">
    <div class="flex items-center justify-center gap-x-5">
        <img class="h-16 w-16 rounded-full" src="{{ app.logo_url() }}">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
            {{ app.name }}
        </h2>
    </div>
    <p class="mt-2 text-lg leading-8 text-gray-600">
        {{ action }}
    </p>
</div>

<div class="mx-auto mt-8 max-w-md sm:mt-8">
    {{ message|escape("none") }}
</div>
{% endblock %}