{% extends "base.html" %}

{% block content %}
{% include "navbar.html" %}

<div class="ui main text container">

    {% if let Some(profile) = user -%}
    <h2 class="ui center aligned header">
        Mon profil
        <div class="sub header">
            Créé le {{ profile.created_at }}
        </div>
    </h2>

    <h4 class="ui dividing header">Informations générales</h4>
    <form class="ui form" method="POST" action="/profile">
        <div class="field">
            <label>Nom</label>
            <div class="ui left icon input">
                <input class="input" type="text" name="name" value="{{ profile.name }}" placeholder="ex: Yoda" />
                <i class="user icon"></i>
            </div>
        </div>

        <div class="field">
            <label class="label">Email
                {% if profile.email_confirmed -%}
                <i class="green check icon"></i>
                {% else %}
                <i class="red close icon"></i>
                {% endif -%}
            </label>
            <div class="ui left icon input">
                <input class="input" type="email" name="email" value="{{ profile.email }}"
                    placeholder="ex: yoda@dagobah.edu" />
                <i class="envelope icon"></i>
            </div>
        </div>

        {% if ! profile.email_confirmed -%}
        <div class="ui negative message">
            L'email n'a pas été confirmé, veuillez vérifier votre boite
            <a class="ui negative basic button" href="{{ confirm_send_url }}" target="_blank">
                <i class="paper plane icon"></i>
                Renvoyer la confirmation d'email
            </a>
        </div>
        {% endif -%}

        <button class="ui primary button">
            Modifier
        </button>

        <h4 class="ui dividing header">Changer de mot de passe</h4>
    </form>
    {% else %}
    <div class="ui negative message">
        <div class="header">
            Erreur inattendue
        </div>
        Veuillez réessayer plus tard
    </div>
    {% endif -%}
</div>
{% endblock %}