{% extends "base.html" %}

{% block content %}
{{ navbar|escape("none") }}

<div class="ui main container">

    {% if let Some(profile) = user %}
    <h2 class="ui center aligned header">
        Mon profil
        <div class="sub header">
            Créé le {{ profile.created_at }}
        </div>
    </h2>

    <div class="two column doubling ui grid">
        <div class="column">
            <h4 class="ui dividing header">Informations générales</h4>

            <div class="ui container">
                <form class="ui form" method="POST" action="/profile">
                    <div class="ui error message"></div>

                    <div class="field">
                        <label>Nom</label>
                        <div class="ui left icon input">
                            <input class="input" type="text" name="name" value="{{ profile.name }}"
                                placeholder="ex: Yoda" />
                            <i class="user icon"></i>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Email
                            {% if profile.email_confirmed %}
                            <i class="green check icon"></i>
                            {% else %}
                            <i class="red close icon"></i>
                            {% endif %}
                        </label>
                        <div class="ui left icon input">
                            <input class="input" type="email" name="email" value="{{ profile.email }}"
                                placeholder="ex: yoda@dagobah.edu" />
                            <i class="envelope icon"></i>
                        </div>
                    </div>

                    {% if ! profile.email_confirmed %}
                    <div class="ui negative message">
                        L'email n'a pas été confirmé, veuillez vérifier votre boite
                        <a class="ui negative basic button" href="{{ confirm_send_url }}" target="_blank">
                            <i class="paper plane icon"></i>
                            Renvoyer la confirmation d'email
                        </a>
                    </div>
                    {% endif %}

                    <button class="ui primary button">
                        Modifier
                    </button>

                    {{ go_back|escape("none") }}
                </form>
            </div>
        </div>

        <div class="column">
            <h4 class="ui dividing header">Changer de mot de passe</h4>

            <div class="ui container">
                <div id="password_message" class="ui container">
                    {{ password_message|escape("none") }}
                </div>

                <form class="ui form" hx-post="/password" hx-target="#password_message">
                    <div class="ui error message"></div>

                    <div class="field">
                        <label class="label">Mot de passe</label>
                        <div class="ui left icon input">
                            <input class="input" type="password" name="password" placeholder="********" />
                            <i class="lock icon"></i>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Confirmez le mot de passe</label>
                        <div class="ui left icon input">
                            <input class="input" type="password" name="confirm_password" placeholder="********" />
                            <i class="redo icon"></i>
                        </div>
                    </div>

                    <button class="ui primary button">
                        Modifier
                    </button>
                </form>
            </div>
        </div>
    </div>

    {% else %}
    <div class="ui negative message">
        <div class="header">
            Erreur inattendue
        </div>
        Veuillez réessayer plus tard
    </div>
    {% endif %}
</div>

<script>
    $('.ui.form').form({
        fields: {
            name: {
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Veuillez rentrer votre nom'
                    }
                ]
            },
            email: {
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Veuillez rentrer votre email'
                    },
                    {
                        type: 'regExp',
                        value: /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/,
                        prompt: 'Veuillez rentrer une adresse mail valide'
                    }
                ]
            },
            password: {
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Veuillez rentrer votre mot de passe'
                    }
                ]
            },
            confirm_password: {
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Veuillez confirmer votre mot de passe'
                    },
                    {
                        type: 'match[password]',
                        prompt: 'La confirmation du mot de passe ne correspond pas'

                    }
                ]
            },
        }
    });
</script>
{% endblock %}