<div id="password_change_div" class="ui container">
    {% if ! password_message.is_empty() %}
    <div class="ui {{ password_message.level }} message">
        <i class="close icon"></i>
        <div class="header">
            {{ password_message.header }}
        </div>
        {{ password_message.body }}
    </div>
    <script>
        $('.message .close').on('click', function () {
            $(this).closest('.message').transition('fade');
        });
    </script>
    {% endif %}

    <form class="ui form" method="POST" action="/password">

        <div class="ui error message"></div>

        <div class="field">
            <label class="label">Mot de passe</label>
            <div class="ui left icon input">
                <input class="input" type="password" name="password" placeholder="********" />
                <i class="lock icon"></i>
            </div>
        </div>

        <div class="field">
            <label class="label">Confirmez le mot de passe</label>
            <div class="ui left icon input">
                <input class="input" type="password" name="confirm_password" placeholder="********" />
                <i class="redo icon"></i>
            </div>
        </div>

        <button class="ui primary button" hx-post="/password" hx-trigger="click" hx-target="#password_change_div"
            hx-swap="outerHTML">
            Modifier
        </button>
    </form>
</div>